 @charset "UTF-8";

 @font-face {
    font-family: 'Travelast';
    src: url('Travelast.otf') format('opentype');
    font-weight: normal;
 }

 :root{
    --cor1: #9BE564;
    --cor2: #D05353;
    --cor3: #454545;
    --cor4: #76888c;
    --cor5: #b7c7c7;
   
    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-viagem: 'Travelast', 'cursive';

 }

 *{
   margin: 0px;
   padding: 0px;
 }

 body{
   background-color: var(--cor4);
   font-family: var(--fonte-padrao);
 }

header{
    font-family: var(--fonte-padrao);
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor3));
    min-height: 50px;
    padding-top: 25px;
    text-align: center;
    box-shadow: 4px 2px 4px;
}

 header > h1{
   font-weight: bold;
   padding-bottom: 10px;
   font-family: var(--fonte-viagem);
   font-size: 3em;
 }

 header > p{
   padding-bottom: 20px;
   color: rgb(255, 255, 255);
   font-weight: bold;
   font-variant: small-caps;
 }

 main{
  background-color: white;
  margin: auto;
  padding: 35px;
  max-width: 800px;
  min-width: 300px;
  text-align: center;
  border: darkgray;
  box-shadow: 0px -1px 8px 0px rgba(0,0,0,0.75);
  border-radius: 3px;
 }
 
 main h2{
  font-family: var(--fonte-viagem);
  font-size: 2.2em;
  padding: 15px;
 }

 main h3{
   text-decoration: underline;
   padding: 15px;;
 }

 nav a{
  text-decoration: none;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-right: 20px;
  font-size: 1em;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
 }

 nav>a:hover{
  background-color: #93A8AC;
 }
 
 .intro > p{
  text-align: justify;
  text-indent: 2em;
  font-size:large;
  line-height: 1.4em;
}

 div > p{
   text-align: center;
   font-size: large;
   line-height: 1.4em;
   padding:20px 0px;
  }
  
  nav > a{
    background-color: black;
    color: white;
    margin-right: 5px;
    padding: 5px;
    text-decoration: none;
    border-radius: 3px;
    font-weight: bold;
  }

  nav > a:hover{
    background-color: var(--cor4);
    color: black;
    font-weight: bold;
  }
  footer{
    background-color: var(--cor3);
    text-align: center;
    color: rgb(230, 229, 229);
    box-shadow: black 4px -2px 4px;
  }
  footer>p{
    font-size: 3vh;
  }

  footer a {
    text-decoration: none;
    color: rgb(230, 229, 229);
    padding-left: 5px;
    font-weight: normal;
    font-size: 3vh;
  }

  footer li{
    padding: 3px;
  }

  footer a:hover {
    text-decoration: underline;
  }

  i{
    font-size: 2vh;
    margin-bottom: 5px;
  }


 
 
